*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-family: 'Jura', sans-serif;
  font-size: 62.5%;
  color: #fff;
}

::selection {
  background-color: black;
  color: white;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 1.75rem;
  color: white;
}

button.disabled {
  cursor: default;
  color: gray;
  border-color: gray !important;
  pointer-events: none;
}

button.disabled:hover {
  background-color: transparent !important;
}

input {
  font-family: inherit;
  outline: none;
}

ul {
  list-style-type: none;
}

li {
  font-size: 2.5rem;
}

.hidden {
  display: none !important;
}

.container {
  height: 100%;
}

.form-field {
  width: 50%;
  margin-bottom: 3rem;
}

.form-field > span {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form-field > input {
  font-size: 3rem;
  width: 100%;
  height: 4rem;
}

.perspective {
  perspective: 700px;
}

/* =========================== */
/* ========== MENUS ========== */
#menu-container {
  background: url("../assets/menu_background.png");
  background-size: cover;
}

#menu-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80rem;
  height: 80rem;
  top: 50%;
  left: 50%;
  background: rgba(36, 64, 125, .3);
  border: 1px solid #fff;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

#menu-box * button {
  background-color: transparent;
  border: 1px solid #fff;
  transform: skew(-6deg);
}

#menu-box * button:hover {
  background-color: rgba(36, 64, 125, .3);
}

#color-palette {
  width: 37rem;
  height: 16rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.color-palette__item {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  margin: .5rem;
  border-radius: 50%;
}

.color-palette__item:hover {
  border: 2px solid white;
}

.color-palette__item.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .2);
}

[color="red"] { background-color: #ff3d3d; }
[color="green"] { background-color: #40ff43; }
[color="blue"] { background-color: #3367ff; }
[color="yellow"] { background-color: #eded2f; }
[color="orange"] { background-color: #ffa940; }
[color="purple"] { background-color: #9940ff; }
[color="cyan"] { background-color: #40ffec; }
[color="lime"] { background-color: #afff40; }
[color="pink"] { background-color: #ff40b6; }
[color="white"] { background-color: #ffffff; }

.title {
  position: absolute;
  top: 10%;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}

.back-btn {
  position: absolute;
  bottom: 4rem;
  height: 6rem;
  width: 16rem;
}

/* ===== MAIN MENU ===== */
#main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main-menu__continue-btn {
  position: absolute;
  bottom: 6rem;
  height: 10rem;
  width: 24rem;
  font-size: 2.5rem;
}

#main-menu__player-name-field {
  position: absolute;
  top: 15%;
}

/* ===== CREATE JOIN CHOICE MENU ===== */
#create-join-choice-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#create-join-choice-menu .title {
  font-size: 5rem;
  font-weight: 100;
}

#create-join-choice-menu__create-btn, #create-join-choice-menu__join-btn {
  height: 12rem;
  width: 32rem;
  margin-top: 4rem;
  font-size: 2.5rem;
}

/* ===== CREATE GAME MENU ===== */
#create-game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#create-game-menu__create-btn {
  height: 6rem;
  width: 20rem;
}

/* ===== JOIN GAME MENU ===== */
#join-game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#join-game-menu__game-password-field {
  position: absolute;
  bottom: 18rem;
}

#join-game-menu__join-btn {
  position: absolute;
  bottom: 12.5rem;
  height: 6rem;
  width: 20rem;
}

#join-game-menu .list {
  margin-bottom: 5rem;
}

#join-game-menu .list-item {
  width: 36rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1rem;
  border-radius: 3px;
}

#join-game-menu .list-item:hover {
  cursor: pointer;
  background-color: rgba(36, 64, 125, .3);
}

#join-game-menu .list-item.selected {
  background-color: rgba(36, 64, 125, .7);
}
